.eventsDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.eventsGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}