form {
  padding: 60px;
  background-color: rgb(27, 27, 27);
  border-radius: 5%;
}

.formContent {
  text-align: center;
}

form button {
  background-color: var(--color-primary);
  color: var(--color-text);
  border: none;
  font-size: 1.2rem;
  padding: 15px 40px;
}