.habits {
  text-align: start;
}

.habits h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.habits h3 {
  font-size: 2rem;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.controls div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.controls label {
  font-size: 1rem;
}

.controls select {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: rgb(41, 41, 41);
  color: var(--color-text);
  border: 1px solid var(--color-primary);
  border-radius: 5px;
}

.habitCards {
  width: 100%;
  gap: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.habitCard {
  padding: 1rem;
  width: 300px;
  border: solid 1px var(--color-primary);
  border-radius: 5px;
}
