.content {
    margin-top: 14rem;
    text-align: center;
}

.content img {
    height: 200px;
    margin-bottom: 4rem;
    animation: spin 6s linear infinite;
    filter: drop-shadow(0 4px 8px var(--color-primary));
}

.content button {
    margin-top: 2rem;
    background-color: var(--color-primary);
    border: none;
    padding: 20px 40px;
    font-size: 1.5rem;
    border-radius: 8px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

h1 {
    font-size: 2.5rem;
}

a {
    color: var(--color-text);
    text-decoration: none;
    font-weight: 500;
}