@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');

:root {
  font-weight: 400;
  line-height: 1.5;
  font-weight: 400;
  --color-primary: #508CFF;
  --color-background: #262626;
  --gradient-title: linear-gradient(45deg, #508CFF, #3A2CFF);
  --color-button: #508CFF;
  --color-text: #D9D9D9;
  --color-text-2: #727D92;
  --color-border: #e2e8f0;
  --color-navbar: linear-gradient(
  to bottom,
  #1f1f1f,
  #1a1a1a
);
  --navbar-glass: #00614a27;
  --navbar-text: #00FFC4; /* neon green */
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --radius-md: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

li{
  list-style: none;
}

input{
  border-radius: var(--radius-md);
  border: none;
  padding: 0.2rem;
}

button{
  background: var(--color-button);
  border: none;
  color: var(--color-text);
  border-radius: var(--radius-md);
  padding: 1rem 3rem;
  font-size: 1.4rem;
}

button:hover {
  cursor: pointer
}

.layout {
  display: flex;
  min-height: 100vh;
}

.content {
  margin-left: 240px;
  padding: var(--spacing-lg);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  animation: fadeIn 0.3s ease;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(27, 27, 27);
  border: 2px solid var(--color-primary);
  border-radius: 15px;
  padding: 2rem;
  z-index: 1000;
  box-shadow: 0 10px 40px rgba(0, 153, 255, 0.3);
  animation: slideIn 0.3s ease;
  min-width: 400px;
}

.closeBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: var(--color-text);
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

.closeBtn:hover {
  color: var(--color-primary);
  transform: rotate(90deg);
}

.noData {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--color-text);
  background: linear-gradient(
    160deg,
    rgba(255, 255, 255, 0.02),
    rgba(255, 255, 255, 0.08)
  );
  padding: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 18px;
}